!
router bgp {{ input_model.asn }}
{%- for peer in input_model.bgp_peers %}
  neighbor {{ peer.ip }} remote-as {{ peer.asn }}
{%- endfor %}
  router-id {{ input_model.routerid }}
  maximum-paths 16
!

