{%- for intf_name, intf_model in input_model.items() %}
interface {{ intf_name }}
  description {{ intf_model.description }}
  switchport mode access
  switchport access vlan {{ intf_model.vlan }}
  {%- if intf_model.stp_mode == 'portfast' %}
  spanning-tree portfast
  {% endif -%}
  {%- if not intf_model.snmp_trap -%}
  no snmp trap link-change
  {%- endif -%}
{% endfor -%}